<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="/static/svg/sneu.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/static/css/style.css">
  {{#ogp_metadata}}
    <meta property="og:title" content="{{ og_title }}" />
    <meta property="og:type" content="{{ og_type }}" />
    <meta property="og:url" content="{{ og_url }}" />
    <meta property="og:image" content="{{ og_image }}" />
    <meta property="og:image:secure" content="{{ og_image }}" />
  {{/ogp_metadata}}
</head>

<body>
  <nav class="nav-bar">
    <a href="/" class="index-page">
      <button></button>
    </a>
    <ul class="other-urls">
      <a href="/">Home</a>
      <a href="/blogs">Blogs</a>
      <a href="https://github.com/hoangph271/hbp" target="_blank">Source code</a>
      <a href="/markdown/AboutMe.md">About me</a>
    </ul>
  </nav>
  {{{ raw_content }}}
  <!-- SCRIPTS -->
</body>

</html>