<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="/static/svg/sneu.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="manifest" href="/static/manifest.json">
  {{#og_title}}
    <meta property="og:title" content="{{ og_title }}" />
  {{/og_title}}
  {{#og_type}}
    <meta property="og:type" content="{{ og_type }}" />
  {{/og_type}}
  {{#og_url}}
    <meta property="og:url" content="{{ og_url }}" />
  {{/og_url}}
  {{#og_image}}
    <meta property="og:image" content="{{ og_image }}" />
    <meta property="og:image:secure" content="{{ og_image }}" />
  {{/og_image}}
  <link rel="preload" href="/https://unpkg.com/@primer/css@^20.2.4/dist/primer.css" crossorigin="anonymous" as="font">
  <link rel="preload" href="/https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap"
    crossorigin="anonymous" as="font">
  <link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    crossorigin="anonymous" as="font">
  <!-- * STYLES -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css" integrity="sha512-KUoB3bZ1XRBYj1QcH4BHCQjurAZnCO3WdrswyLDtp7BMwCw7dPZngSLqILf68SGgvnWHTD5pPaYrXi6wiRJ65g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<body class="d-flex flex-column">
  <header>
    <nav class="Header">
      <div>
        <a href="/" class="Header-link">@hbp</a>
      </div>
      <ol class="moveup-urls">
        {{#moveup_urls}}
          <li class="breadcrumb-item">
            <a href="{{ url }}">{{ title }}</a>
          </li>
        {{/moveup_urls}}
      </ol>
    </nav>
  </header>
  <main class="flex-1">
    {{{ raw_content }}}
  </main>
  <footer class="Box">
    <div class="Box-header" style="text-align: center;">
      <a target="_blank" href="https://github.com/hoangph271/hbp">@hoangph271/hbp</a>,
      <span> about me </span>
      <a href="/markdown/AboutMe.md">here.</a>
    </div>
  </footer>
  <!-- SCRIPTS -->
  <script src="/static/js/index.js"></script>
</body>

</html>
