@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');

:root {
  --bgr-icecream: #fff8e1;
  --bgr-breath: #eee8d5;
  --bgr-bold: #c0b396;
  --bgr-bold-opacity: rgba(192, 179, 150, 0.35);
  --icon-size: 3rem;
  --cream: #F8F5EC;
  --grunt: #424242;
  --tan: #a39f75;
  --grungy: #bf8d22;
  --yolk: #D0E890;
  --orange: #BF4634;
  --equal-shadow-gentle: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  --equal-shadow-big: rgba(0, 0, 0, 0.25) 0px 3px 6px;
  --content-mw: 650px;
  --padding-small: 0.4rem;
  --radius-gentle: 0.4rem;
}

/* * Tag restyles */
/* #region */
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  background-color: var(--bgr-icecream);
}

a { color: var(--grunt); }
a:hover { color: var(--grungy); }
a:active, a:focus { color: var(--tan); }
/* #endregion */

code {
  font-family: 'Courier New', Courier, monospace;
}

/* * nav-bar */
/* #region */
.nav-bar {
  display: flex;
  padding: var(--padding-small);
  align-items: center;
  background-color: var(--bgr-breath);
  box-shadow: var(--equal-shadow-gentle);
}

.nav-bar .index-page button {
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url('/static/svg/sneu.svg');
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.nav-bar .index-page button:hover {
  box-shadow: 1px 0px 0px 1px rgba(0, 0, 0, 0.35);
  background-color: var(--bgr-bold);
}

.nav-bar .other-urls {
  list-style: none;
  padding: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  max-width: var(--content-mw);
  margin: auto;
}
/* #endregion */

.hbp-markdown {
  width: calc(100vw - 2rem);
  max-width: var(--content-mw);
  padding: var(--padding-small);
  margin: 0.8rem auto;
}

/* ? workarounds for `pulldown-cmark` until it works better */
.hbp-markdown ul  {
  padding: 0 1rem;
  list-style: none;
}

/* ? Custom CSS for MarpIt */
/* #region */
.marpit {
  height: 100vh;
  scroll-snap-type: x mandatory;
  display: flex;
  width: 100vw;
  overflow-x: auto;
}

.marpit > svg {
  width: 100vw;
  min-width: 100vw;
  scroll-snap-align: end;
}
.marpit .contains-task-list {
  list-style: none;
}
.marpit .task-list-item .task-list-item-checkbox {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0;
}
/* #endregion */
