@import url('https://unpkg.com/@primer/css@^20.2.4/dist/primer.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --icon-size: 3rem;
  --content-mw: 36rem;
  --content-margin: 1rem auto;
  --padding-small: 0.4rem;
  --radius-gentle: 0.4rem;
  --radius-tight: 0.2em;
  --monospace: 'Ubuntu Mono', 'Courier New', Courier, monospace;
  --sans-serif: 'Nunito', sans-serif;
}

/* * Tag restyles */
/* #region */
body {
  margin: 0;
  font-size: 16px;
  min-height: 100vh;
  font-family: var(--sans-serif);
}
/* #endregion */

code {
  font-family: 'Ubuntu', Courier, monospace;
}

/* * Header */
/* #region */
.Header {
  gap: var(--radius-gentle);
}
/* #endregion */

.block-img {
  max-width: 100%;
}

.hbp-markdown.markdown-body {
  width: calc(100vw - 2rem);
  max-width: var(--content-mw);
  padding: var(--padding-small);
  margin: 0.8rem auto!important;
  border-radius: var(--radius-gentle);
  font-family: var(--sans-serif);
}

.hbp-markdown ul {
  padding: 0 1rem;
  list-style: none;
}

.hbp-markdown code {
  background-color: lightgray;
  padding: 0.2rem;
  border-radius: var(--radius-tight);
}
